*{
    margin: 0;
    padding: 0;
    font-family: "Comic Neue", cursive;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(34, 39, 34);
    color: white;
}

/*--------------------Heading Section--------------------------*/

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: silver;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header h1{
    font-size: 45px;
}

/*--------------------About Me Section--------------------------*/

#about{
    padding: 80px 0;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image{
    flex-basis: 35%;
}

.image img{
    width: 100%;
    border-radius: 15px;
}

.info{
    flex-basis: 60%;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: gray;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: rgb(216, 216, 113);
    font-size: 20px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*--------------------Contact Section--------------------------*/
.contact p{
    margin-top: 30px;
}

.contact p i{
    color: gray;
    margin-right: 15px;
    font-size: 25px;
}
